*{
  
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
  
  
}
h1,h2{
  border-color: #d3e644;
  border-style: dashed;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
    
}

form{
  display: flex;
  flex-direction: column;
  height:30vh;
  justify-content: space-around;
  width:50%;
  border-radius: 10px;
  animation: fadeIn 1s;
}

img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@keyframes fadeIn{
  0%{
    opacity: 0;

  }50%{
    opacity: 0.25;
  }100%{
    opacity: 1;
  }
}